<ng-container *ngIf='showViewTask'>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header bg-info">
					<h2 class="card-title text-center">View Task</h2>
				</div>
				<div class="card-body">
					<form #taskForm="ngForm" class="form-horizontal form-group"
						ngNativeValidate>
						<div class="form-group row">
							<div class="col-4">
								<div class="row">
									<div class="col-2">
										<label for="PrjectName">Project:</label>
									</div>

									<div class="col-8">
										<input type="text" id="inputProjectName"
											(change)="onSearchChange($event)" class="form-control"
											name="ProjectName" [(ngModel)]="project.projectName"
											placeholder="Project Name" readonly required autofocus>
									</div>
									<div class="col-2">
										<button
											class="btn btn-primary button-md text-uppercase button-block"
											(click)="openProjectModal()">Search</button>
									</div>
								</div>
							</div>
							<div class="col-8">
								<div class="row  ml-2">
									<div class="col-2">
										<label for="sort">Sort Task By </label>
									</div>
									<div class="col-10">
										<div class="row  ml-2">
											<div class="col-3">
												<input type="button"
													class="btn btn-primary text-uppercase btn-default"
													(click)="sortTask('startDate')" [disabled]='!showData'
													value="Start Date">
											</div>
											<div class="col-3">
												<input type="button"
													class="btn btn-primary text-uppercase btn-default"
													(click)="sortTask('endDate')" [disabled]='!showData'
													value="End Date">
											</div>
											<div class="col-3">
												<input type="button"
													class="btn btn-primary text-uppercase btn-default"
													(click)="sortTask('priority')" [disabled]='!showData'
													value="Priority">
											</div>
											<div class="col-3">
												<input type="button"
													class="btn btn-primary text-uppercase btn-default"
													(click)="sortTask('status')" [disabled]='!showData'
													value="Completed">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<hr />

	<div class="row">

		<div class="col-12">
			<div class="row" *ngIf='showData'>
				<table class="table table-bordered" width="90%">
					<tr class="text-center">
						<th width="20%">Task</th>
						<th width="20%">Parent Task</th>
						<th width="15%">Priority</th>
						<th width="15%">Start</th>
						<th width="15%">End</th>
						<th width="15%">Operation</th>
					</tr>
					<tr
						*ngFor="let task of tasks | SortBy :{property:sortType, direction: direction}">
						<td><textarea style="width: 100%; height: 100%" readOnly
								disabled="true" rows="3">{{ task.taskName }}</textarea></td>
						<td><textarea style="width: 100%; height: 100%" readOnly
								disabled="true" rows="3">{{ getParentTask(task.parentId) }}</textarea></td>
						<td class="text-center">{{ task.priority }}</td>
						<td class="text-center">{{ task.startDate | date :
							'MM-dd-yyyy'}}</td>
						<td class="text-center">{{ task.endDate | date : 'MM-dd-yyyy'
							}}</td>
						<td>
							<div class="row">
								<div class="col-5">
									<button class="btn btn-primary btn-default btn-block"
										[disabled]="task.status ===1 ? true: false"
										(click)="editTask(task)">Edit</button>

								</div>
								<div class="col-7">
									<button class="btn btn-primary btn-default btn-block"
										[disabled]="task.status ===1 ? true: false"
										(click)='markComplete(task)'>End Task</button>


								</div>
							</div>

						</td>

					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Project Modal -->
<div class="modal" [class.show]="showProjectModal" id="ProjectModal"
	tabindex="-1" role="dialog" aria-labelledby="ProjectModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ProjectModalLabel">Project
					Directory</h5>
				<button type="button" class="close" (click)="closeProjectModal()"
					data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-wrapper-scroll-y">

					<form class="form-inline">
						<div class="form-group">
							<label for="projectModelSearch">Search Project : </label> <input
								type="text" id="search" class="form-control" name="search"
								[(ngModel)]="searchProject" placeholder="Search...">
						</div>
					</form>

					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Project Name</th>
								<th>Start Date</th>
								<th>End Date</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="let project of dataHolder.getProjectList() | projectSearchFilter : searchProject;let i = index"
								(dblclick)="setDblClickedProjectRow(project)"
								(click)="setClickedProjectRow(project)"
								[class.active]="i == selectedProjectRow">
								<td>{{ project.projectName }}</td>
								<td>{{ project.startDate | date:'MM-dd-yyyy' }}</td>
								<td>{{ project.endDate | date:'MM-dd-yyyy' }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"
					(click)="closeProjectModal()">Close</button>
			</div>
		</div>
	</div>
</div>
</ng-container>

<ng-container *ngIf='!showViewTask'> <app-edit
	[showViewTask]='showViewTask' [taskToEdit]='taskToEdit'
	(childToParent)="childToParent($event)"> </app-edit> </ng-container>