.btn {
	margin-left: 5px;
	margin-right: 5px;
}
/* Boostrap Buttons Styling */
.btn-default {
	font-family: Raleway-SemiBold;
	font-size: 10px;
	color: rgba(108, 88, 179, 0.75);
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid rgba(108, 89, 179, 0.75);
	border-radius: 30px;
	background: transparent;
	transition: all 0.3s ease 0s;
}

.btn-primary {
	font-family: Raleway-SemiBold;
	font-size: 10px;
	color: rgba(58, 133, 191, 0.75);
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid rgba(58, 133, 191, 0.75);
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease 0s;
}

.btn-primary:hover {
	color: #FFF;
	background: rgba(58, 133, 191, 0.75);
	border: 2px solid rgba(58, 133, 191, 0.75);
}


.btn-secondary {
	font-family: Raleway-SemiBold;
	font-size: 10px;
	color: rgba(58, 133, 191, 0.75);
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid rgba(58, 133, 191, 0.75);
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease 0s;
}

.btn-secondary:hover {
	color: #FFF;
	background: rgba(58, 133, 191, 0.75);
	border: 2px solid rgba(58, 133, 191, 0.75);
}