<div class="container-fluid">

	<hr>

	<h2 class="mx-auto">Project Manager</h2>

	<hr>

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" routerLink='/AddProject'
			routerLinkActive="active">Add Project</a></li>
		<li><a routerLink='/AddTask' data-toggle="tab"
			routerLinkActive="active">Add Task</a></li>
		<li><a data-toggle="tab" routerLink='/AddUser'
			routerLinkActive="active">Add User</a></li>
		<li><a data-toggle="tab" routerLink='/ViewTask'
			routerLinkActive="active">View Task</a></li>
	</ul>


	<hr>

</div>
<router-outlet></router-outlet>
